@import url("https://fonts.googleapis.com/css?family=Raleway:700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap");

@font-face {
  font-family: "Woodcut";
  src: url("./Intellecta Design - XVICenturyShawWoodcuts.otf");
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vw;
}

.woodcut {
  width: 100%;
}

.fire_anchor {
  width: 510px;
}

body {
  background: url("./images/Site_Background.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: black;
  /* height: 100%; */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0 auto;
  color: whitesmoke;
  margin-top: 25px;
  font-family: "Grenze Gotisch", cursive;
}

.navBar {
  display: flex;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  height: auto;
  width: auto\9;
  font-family: "Grenze Gotisch", cursive;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  /* color: white; */
}

nav > a {
  margin-left: 8%;
  margin-right: 8%;
  color: white;
  font-size: 42px;
  padding-bottom: 2px;
  border-bottom: 3px solid transparent;
  opacity: 0.9;
  transition: border-bottom 0.2s ease-out;
}

.merch_container {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.merch_container {
  margin-right: 20px;
}

.merch_item {
  position: relative;
  width: 25%;
  margin-right: 20px;
}

.merch_item img {
  width: 100%;
}

.text {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.merch_item:hover .overlay {
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #020f13;
}

.merch_photo_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  width: 50%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

.merch_photo {
  width: 100%;
}

.photo_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.photo_container .pic_wrapper {
  flex-basis: 33%;
}

.promo_pic {
  width: 100%;
  transition: transform 0.25s ease;
}

.promo_pic:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

@media only screen and (max-width: 750px) {
  nav > a {
    font-size: 4vw;
    margin-left: 4%;
  }

  div.navBar {
    margin-left: 8px;
  }

  a.available_now {
    font-size: 36px;
  }

  div.socials {
    margin-left: 0;
  }

  div.socials > a {
    margin: 0 5px;
    padding-top: 10px;
  }

  div.socials > a > img {
    width: 25px;
    height: 25px;
  }

  div.album_cover {
    padding: 5px;
  }

  h1.page_header {
    font-size: 36px;
  }

  header.album_header {
    flex-direction: column;
  }

  #title {
    text-align: center;
  }

  #year {
    text-align: center;
  }

  .pic_wrapper {
    flex-basis: 100%;
  }

  .merch_photo_wrapper {
    width: 75%;
  }
}

@media only screen and (max-width: 900px) {
  img.album_cover_choices {
    max-width: 15em;
    max-height: 15em;
  }

  .merch_item {
    width: 50%;
    margin-bottom: 20px;
  }

  .merch_container {
    flex-direction: column;
    align-items: center;
  }
}

nav > a:hover {
  border-bottom: 3px solid whitesmoke;
  transition: border-bottom 0.2s ease-in;
}

.active {
  border-bottom: 3px solid whitesmoke;
}

nav > a:link {
  text-decoration: none;
}

div.socials > a {
  margin: 0 15px;
  transition: opacity 0.2s ease-out;
}

div.socials > a:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in;
}

div.socials > a > img {
  width: 35px;
  height: 35px;
}

.album_cover {
  max-width: 550px;
  margin: 0 auto;
  margin-top: 5%;
  transition: opacity 0.2s ease-out;
  filter: drop-shadow(0 0 0.75rem rgb(236, 236, 236));
}

.album_cover:hover {
  opacity: 0.9;
  transition: opacity 0.2s ease-in;
}

.available_now {
  color: whitesmoke;
  font-size: 56px;
  padding-left: 8px;
  padding-right: 8px;
  border: 5px solid whitesmoke;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  border-radius: 8px;
  font-family: "Grenze Gotisch", cursive;
}

.available_now:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: whitesmoke;
  color: black;
}

.available_now:active {
  opacity: 0.7;
}

.playButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 25px;
}

.page_header {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  font-family: "Grenze Gotisch", cursive;
}
.album_wrapper {
  display: block;
  max-width: 160vh;
  margin: 0 auto;
}

.album_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.album_details {
  text-align: left;
  width: fit-content;
}

.album_title {
  color: whitesmoke;
  font-family: "Raleway", sans-serif;
}

.album_release {
  font-family: sans-serif;
  color: whitesmoke;
  font-size: 2vh;
}

.album_actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: right;
  flex-wrap: wrap;
}

.album_actions > a {
  margin-right: 5px;
}

.buttons {
  border: 3px solid whitesmoke;
  font-size: 18px;
  color: whitesmoke;
  padding: 8px 24px;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: uppercase;
}

.buttons:hover {
  background-color: whitesmoke;
  color: black;
}

.buttons:active {
  opacity: 0.8;
}

.title {
  color: white;
}

.shows {
  margin: auto;
  max-width: 160vh;
  text-align: center;
}

.album_cover_choices {
  max-width: 21em;
  max-height: 21em;
  margin: 5px;
  transition: all 0.2s ease-in-out;
}

.album_cover_choices:hover {
  filter: drop-shadow(0 0 1rem rgb(236, 236, 236));
  cursor: pointer;
  transform: scale(1.1);
}

.cover_arts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
